* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--body-text);
  margin: 0;
  padding: 0;
  background-color: var(--bg_body);
}

main {
  padding: 0.7% 3.5% 0.7%;
}

.header {
  background-color: var(--bg_default);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7% 3.5% 0.7%;
}

.header h2 {
  color: var(--brand-primary);
  font-weight: 400;
  font-size: 1rem;
}

button ion-icon {
  vertical-align: middle;
  margin: 0 5px 0 0px;
}

.header span {
  vertical-align: middle;
}

.headerButton {
  background-color: var(--bg_default);
  border-radius: 5px;
  border: 1px solid var(--lines-color);
  padding: 5px 10px;
  font-size: 0.9rem;
}

.introduction-section {
  position: relative;
  height: 9vw;
  background-color: var(--bg_default);
  margin-bottom: 1vw;
}

.blue-triangle {
  position: absolute;
  left: 0;
  width: 100%;
  height: 65%;
  background: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.green-triangle {
  position: absolute;
  right: 0;
  width: 100%;
  height: 65%;
  background: var(--brand-secondary);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 20px;
  top: 50%;
}

.welcome-section {
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.welcome-section p,
.welcome-section h3 {
  margin: 0;
  padding: 0;
}

.welcome-section p {
  color: var(--brand-secondary);
  font-weight: 700;
  font-size: 1.5rem;
}

.welcome-section h3 {
  font-size: 1.15rem;
  font-weight: 200;
  font-weight: 400;
}

.search-sort-filter-section {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px var(--lines-color);
  border-radius: 8px;
  height: 45px;
  box-sizing: border-box;
  background-color: var(--bg_default);
}

.search-sort-filter-section input,
button {
  border: 0;
  background-color: #00000000;
  color: var(--body-text);
}

.search-bar {
  border: 0;
  display: flex;
  align-items: center;
  width: 70%;
  height: 30px;
}

.search-bar input {
  width: 100%;
  outline: none;
  font-size: 1rem;
}

.search-bar button {
  font-size: 1rem;
  flex-shrink: 0;
  padding: 0 8px 4px 10px;
}

.dropDown {
  border: 0;
  display: flex;
  width: 30%;
  height: 100%;
}

.sort-by,
.filter-by {
  background-color: #00000000;
  width: 50%;
  position: relative;
}

.sort-by {
  border-left: 1px solid var(--lines-color);
  border-right: 1px solid var(--lines-color);
}

select {
  background-color: #00000000;
  color: var(--body-text);
  font-family: "Nunito Sans", sans-serif;
  border: 0;
  outline: none;
  width: 100%;
  padding: 19px 10px 10px 5.5px;
  font-weight: 400;
}

label {
  background-color: #00000000;
  position: absolute;
  font-size: 0.6rem;
  padding: 10px 0 0 10px;
}

.loadingIndicator {
  display: none;
  text-align: center;
  color: var(--body-text);
  font-size: 2.5rem;
  padding: 40px;
  margin: 20px;
}

.cards-container {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 0 5px var(--lines-color);
  border-radius: 10px;
  background-color: var(--bg_default);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}

img {
  width: 100%;
  height: 145px;
  object-fit: cover;
  background-color: #ffffff;
}

.card-info {
  margin-top: 15px;
  padding-left: 5%;
  bottom: 0;
  width: 100%;
}

.card-category,
.card-topic {
  margin: 0;
  font-weight: 400;
  color: var(--body-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  font-size: 0.8rem;
}

.card-topic {
  color: var(--body-text);
  width: 75%;
  font-weight: 700;
  font-size: 0.9rem;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.stars {
  margin-top: 10%;
  color: orange;
  font-size: 1rem;
}

.card-author {
  color: #b3b2b2;
  font-size: 0.9rem;
}

.errorLoadingMsg {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--body-text);
  border: 2px solid;
  color: #d8000c;
  background-color: #ffc7c7;
  margin-bottom: 100px;
}

.favourites-section {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--bg_default);
  height: 150px;
  display: none;
  flex-direction: column;
  padding: 15px 15px 5px 50px;
}

.favourites-section div:first-child {
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.favourite-cards-container {
  display: flex;
}

.favourite-cards {
  height: 90px;
  width: 100px;
  border-radius: 6px;
  margin: 0 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 5px var(--lines-color);
}

.favourite-cards img {
  height: 50px;
  margin: 0;
}

.favourite-cards h2 {
  font-size: 0.7rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1px;
  margin-left: 5%;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.favourite-cards-star {
  display: flex;
  margin-left: 5%;
  color: orange;
  font-size: 0.7rem;
}

footer {
  clear: both;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4vw;
  font-size: 1rem;
  font-weight: 400;
}

footer ion-icon {
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  color: var(--heart-color);
  font-size: 1.5rem;
}

footer span {
  font-size: 0.8rem;
  margin-right: 4px;
}

@media (max-width: 700px) {
  .header {
    padding: 10px 30px 10px 30px;
  }

  .header ion-icon {
    margin-right: 0;
    padding: 5px;
  }
  .header span {
    display: none;
  }
  .header a {
    font-size: 3vw;
  }
  .header button {
    padding: 3px 5px;
  }

  .introduction-section {
    height: 100px;
    padding-bottom: 10vw;
  }

  .blue-triangle {
    height: 35%;
  }

  .green-triangle {
    height: 35%;
  }

  .welcome {
    padding: 25px 30px 0px 30px;
    justify-content: flex-start;
  }

  .welcome-section {
    max-width: 100%;
  }
  .welcome-section h3 {
    line-height: 4vw;
    text-wrap: wrap;
    font-size: 0.9rem;
  }
  main {
    padding: 15px 30px 25px 30px;
  }

  .search-sort-filter-section {
    display: flex;
    flex-direction: column;
    height: 100px;
  }
  .search-bar {
    width: 100%;
    height: 50%;
  }
  .dropDown {
    width: 100%;
    height: 50%;
  }
  .sort-by,
  .filter-by {
    border: 0;
    border-top: 1px solid var(--lines-color);
  }
  .filter-by {
    border-left: 1px solid var(--lines-color);
  }
  .cards-container {
    display: block;
  }
  .stars {
    margin-top: 5%;
    font-size: 2rem;
  }

  .card {
    margin-bottom: 50px;
  }
}
