.headerButton {
  background-color: var(--bg_default);
  border-radius: 5px;
  border: 1px solid var(--lines-color);
  padding: 5px 10px;
  font-size: 0.9rem;
}

button ion-icon {
  vertical-align: middle;
  margin: 0 5px 0 0px;
}
